* { 
    font-family: 'Inter', sans-serif;
    color: #18216D;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    outline: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 3;

    padding: 25px 100px 0;
    height: 77px;

    background-color: transparent;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
}

.logo .logo__icon {
    width: 100%;
    height: 100%;
}

.logo .logo__name {
    padding-left: 7px;
    
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

nav {
    width: 507px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu .menu__item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    padding: 16px 27px;

    width: 136px;
    height: 52px;

    border-radius: 6px;

    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}

.button.button_downloadBtn {
    color: #FFFFFF;
    background-color: #18216D;
}

.button.button_green {
    padding: 22px 37px;

    width: 180px;
    height: 66px;

    background-color: #00ECD0;
}

.about {
    padding: 50px 200px 85px 215px;
    min-height: 730px;
}

.about > .container {
    display: flex;
}

.about .about__start {
    margin-top: 95px;
    width: 500px;
}

.about .about__title {
    margin-bottom: 16px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}

.about .about__descrip {
    margin-bottom: 34px;

    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
}

.about .about__bg {
    max-width: 786px;
    max-height: 518px;
}

.collaborate {
    padding: 37px 278px 20px 215px;

    min-height: 300px;
}

.collaborate .collaborate__row {
    display: flex;
    justify-content: space-between;
}

.collaborate .collaborate__title {
    width: 495px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
}

.collaborate .collaborate__statistics {
    display: flex;
    justify-content: space-between;
}